<html>

<head>
  <title>V Web Server</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="bg-amber-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200">
  <div class="flex flex-col items-center justify-center h-full w-screen">
    <p class="text-lg">Second page</p>
    <a href="/">
      <button
        class="cursor-pointer mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 hover:-translate-y-1/9 transition duration-200 ease-in-out">
        Go to Home
      </button>
    </a>
  </div>
</body>

</html>